.resizer-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    img {
        position: relative;
        top: 0;
        left: 0;
    }
    #croper {
        z-index: 500;
        resize: both;
        top: 0;
        left: 0;
        overflow: auto;
        position: absolute;
        box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.7);
    }
    #cropercursor {
        position: absolute;
        cursor: move;
        top: 49%;
        left: 49%;
        color: greenyellow;
    }
}


#user-photo-croper {
    z-index: 500;
    top: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.7);
    border-radius: 50%;
}
#user-photo-update {
    position: relative;
    top: 0;
    left: 0;
}
#user-photo-cropercursor{
    position: absolute;
    cursor: move;
    top: 49%;
    left: 49%;
    color: greenyellow;
}
